<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <title>Fashion</title>
    


</head>
<body>
    <div class="container-fluid">
        <div class="row bg-dark py-2 px-xl-5" style="justify-content: end;">
            <div class="col-lg-2 text-center">
                <div class="d-inline-flex align-items-center">
                    <a class="text-white px-2" href="">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="text-white px-2" href="">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="text-white px-2" href="">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a class="text-white px-2" href="">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="text-white pl-2" href="">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row align-items-center m-0">
            <div class="col-lg-2 d-none d-lg-block">
                <img src="../img/logo.png" style="width: 100px; height: 60px; ">
            </div>
            <div class="col-lg-8 col-6 text-left">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-dark me-2" type="submit">  <i class="fa fa-search"></i></button>
                    <a href="#" class="btn btn-outline-dark  ">
                        <i class="fas fa-shopping-cart text-dark"></i>
                    </a>
                </form>
            </div>
            <div class="col-lg-2 col-3 d-flex text-start">
                <a href="">
                  <ul class="nav">
                    <li class="nav-item">
                      <a style="color: black;" class="nav-link" href="#">Login</a>
                    </li>
                  </ul>
                  <ul class="nav">
                    <li class="nav-item">
                      <a style="color: black;" class="nav-link" href="#">Register</a>
                    </li>
                  </ul>
                </a>
            </div>
        </div>
    </div>

    <!-- end header -->
    <div class="container-fluid">
      <nav >
          <div class="row justify-content-center">
              <div class="col-auto">
                  <ul class="nav">
                      <li class="nav-item navbar-dark navbar-brand" >
                        <a style="color: black;" class="nav-link active "  href="#">HOME</a>
                      </li>
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" style="color: rgb(10, 10, 10);" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">PRODUCT</a>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Dress</a></li>
                            <li><a class="dropdown-item" href="#">shirt</a></li>
                            <li><a class="dropdown-item" href="#">Jeans</a></li>
                            <li><a class="dropdown-item" href="#">Blazers</a></li>
                            <li><a class="dropdown-item" href="#">Skirt</a></li>
                            <li><a class="dropdown-item" href="#">Jacket</a></li>

                          </ul>
                        </li>
                      </li>
                      <li class="nav-item">
                        <a style="color: black;" class="nav-link" href="#">CONTRACT</a>
                      <li class="nav-item">
                        <a style="color: black;" class="nav-link " >ABOUT</a>
                      </li>
                  </ul>
            </div>
      </nav>
      <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner" >
          <div class="carousel-item active">
            <img src="../img/car/ca-1.png" class="d-block" style="width: 1200px; height: 400px; margin: auto;" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../img/car/car-2.jpg" class="d-block" style="width: 1200px; height: 400px; margin: auto;" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../img/car/car-3.jpg" class="d-block" style="width: 1200px; height: 400px; margin: auto;" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <!-- end carousel -->

    <div class="text-bg-dark p-0 " style="text-align: center; margin-top: 10px; ">
      <h1>
        Category
      </h1>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4 m-1">
        <div class="col">
          <div class="card h-100">
            <img src="../img/category/cat-1.jpg" class="card-img-top w-100"style="height: 300px;" alt="...">
            <div class="card-body">
              <h5 class="card-title">DRESS</h5>
              
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="../img/category/cat-2.jpg" class="card-img-top" style="height: 300px;" alt="...">
            <div class="card-body">
              <h5 class="card-title">SHIRT</h5>
              
            </div>
           
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="../img/category/cat-3.jpg" class="card-img-top" style="height: 300px;" alt="...">
            <div class="card-body">
              <h5 class="card-title">BLAZERS</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100"> 
            <img src="../img//category/cat-4.jpg" class="card-img-top" style="height: 300px;" alt="...">
            <div class="card-body">
              <h5 class="card-title">JEANS</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100"> 
            <img src="../img/category/car-5.jpg" class="card-img-top" style="height: 300px;" alt="...">
            <div class="card-body">
              <h5 class="card-title">SKIRT</h5>
              
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100"> 
            <img src="../img/category/cat-̉6.jpg" class="card-img-top" style="height: 300px;" alt="...">
            <div class="card-body">
              <h5 class="card-title">JACKET</h5>
          </div>
        </div>
      </div>
    </div>   
    <!--end categry  -->

    <footer class="container-fluid " style="background-color: black;">
      <div class="row align-items-start">
        <div class="col ">
          <h5 class="text-white " style="margin-top: 15px; margin-bottom: 15px;"> 
            THÔNG TIN
          </h5>
          
          <div class="">
            <p class="mb-2 text-white"><i class="fa fa-map-marker-alt text-white mr-3 me-2"></i>Hẻm672,30/4,Hưng Lợi-Ninh Kiều.</p>
            <p class="mb-2 text-white"><i class="fa fa-envelope text-white mr-3 me-2"></i>nhub2014594@student.ctu.edu.vn</p>
            <p class="mb-0 text-white"><i class="fa fa-phone-alt text-white mr-3 me-2"></i>0846316361</p>      
          </div> 
        </div>



        <div class="col">
          <h5 class="text-white" style="margin-top: 15px; margin-bottom: 15px;">
            QUICKS LINK
          </h5>
          <a href="" class="text-white d-flex nav-link mr-3 me-2">HOME</a>
          <a href="" class="text-white d-flex nav-link mr-3 me-2">PRODUCT</a>
          <a href="" class="text-white d-flex nav-link mr-3 me-2">CONTRACT</a>
          <a href="" class="text-white d-flex nav-link mr-3 me-2">ABOUT</a>
          
         </div>
        <div class="col">
          <span class="top">
            <a style="" href="#">
                <img style="width: 200px; height: 150px;" src="../img/logo/ft-1.jpg" alt="">
            </a>

        </span>
          
        </div>
      </div>

    </footer>

</body>
</html>